@charset "UTF-8";
/*
*Default ----------------------------------------------------------------
*/
/* line 3, ../sass/basic.scss */
body {
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #4D4D4D;
}
@media screen and (max-width: 576px) {
  /* line 3, ../sass/basic.scss */
  body {
    font-size: 15px;
  }
}
/* line 12, ../sass/basic.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 16, ../sass/basic.scss */
a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 18, ../sass/basic.scss */
a:hover, a:active {
  outline: none;
  text-decoration: none;
}

/* line 23, ../sass/basic.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 27, ../sass/basic.scss */
h1, h2, h3, h4, h5, h6 {
  color: #4D4D4D;
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 34, ../sass/basic.scss */
button, input, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 38, ../sass/basic.scss */
select::-ms-expand {
  display: none;
}

/* line 41, ../sass/basic.scss */
select, textarea {
  width: 100%;
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #4D4D4D;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 48, ../sass/basic.scss */
select:active, select:hover, textarea:active, textarea:hover {
  color: #231815;
  border-color: #1C355E;
}

/* line 54, ../sass/basic.scss */
.form-control:hover, .form-control:focus, .form-control:active {
  box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.5);
}

/* line 58, ../sass/basic.scss */
.select-wrapper {
  position: relative;
}
/* line 60, ../sass/basic.scss */
.select-wrapper .iconify {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 1.25rem;
}

/* line 67, ../sass/basic.scss */
.custom-control {
  cursor: pointer;
}
/* line 69, ../sass/basic.scss */
.custom-control .custom-control-label {
  cursor: pointer;
}
/* line 71, ../sass/basic.scss */
.custom-control .custom-control-label:before {
  top: .3rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 78, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #1C355E;
}
/* line 81, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:after {
  top: .3rem;
}

/* line 87, ../sass/basic.scss */
::-webkit-selection {
  color: #fff;
  background: #1C355E;
}

/* line 91, ../sass/basic.scss */
::-moz-selection {
  color: #fff;
  background: #1C355E;
}

/* line 95, ../sass/basic.scss */
::selection {
  color: #fff;
  background: #1C355E;
}

/* line 3, ../sass/header.scss */
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
/* line 8, ../sass/header.scss */
#header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 11, ../sass/header.scss */
#header .navbar ul {
  position: relative;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0);
}
/* line 16, ../sass/header.scss */
#header .navbar ul li {
  display: inline-block;
  list-style: none;
}
/* line 21, ../sass/header.scss */
#header .navbar .logo {
  display: block;
}
/* line 23, ../sass/header.scss */
#header .navbar .logo a {
  display: block;
  padding: 22px 0;
}
/* line 27, ../sass/header.scss */
#header .navbar .logo img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 32, ../sass/header.scss */
#header .navbar .navbar-nav li {
  position: relative;
}
/* line 34, ../sass/header.scss */
#header .navbar .navbar-nav li a {
  display: block;
}
/* line 37, ../sass/header.scss */
#header .navbar .navbar-nav li.sub-menu-parent {
  position: relative;
}
/* line 39, ../sass/header.scss */
#header .navbar .navbar-nav li.sub-menu-parent .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(241, 241, 241, 0.5);
  -moz-transform: translateY(-2em);
  -o-transform: translateY(-2em);
  -ms-transform: translateY(-2em);
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: visibility 0s linear 0.3s;
  -moz-transition: visibility 0s linear 0.3s;
  -o-transition: visibility 0s linear 0.3s;
  transition: visibility 0s linear 0.3s;
  -webkit-transition: z-index 0s linear 0.01s;
  -moz-transition: z-index 0s linear 0.01s;
  -o-transition: z-index 0s linear 0.01s;
  transition: z-index 0s linear 0.01s;
}
/* line 53, ../sass/header.scss */
#header .navbar .navbar-nav li.sub-menu-parent .sub-menu li {
  width: 100%;
}
/* line 56, ../sass/header.scss */
#header .navbar .navbar-nav li.sub-menu-parent .sub-menu li:hover a, #header .navbar .navbar-nav li.sub-menu-parent .sub-menu li:active a {
  color: #F97425;
}
/* line 64, ../sass/header.scss */
#header .navbar .navbar-nav li.icon-set a {
  position: relative;
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
}
/* line 70, ../sass/header.scss */
#header .navbar .navbar-nav li.icon-set a .icon {
  display: block;
  width: 20px;
  height: 20px;
}
/* line 74, ../sass/header.scss */
#header .navbar .navbar-nav li.icon-set a .icon:hover, #header .navbar .navbar-nav li.icon-set a .icon:active {
  opacity: 0.75;
}
/* line 82, ../sass/header.scss */
#header .navbar .menu {
  display: none;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}
/* line 87, ../sass/header.scss */
#header .navbar .menu .burger {
  position: relative;
  width: 26px;
  height: 50px;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 94, ../sass/header.scss */
#header .navbar .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #1C355E;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 105, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(1) {
  top: 15px;
}
/* line 108, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(2) {
  top: 22px;
}
/* line 111, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(3) {
  top: 29px;
}
/* line 117, ../sass/header.scss */
#header .navbar .menu .active span {
  background: #666666;
}
/* line 119, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(1) {
  top: 24px;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 123, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 127, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(3) {
  top: 24px;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 135, ../sass/header.scss */
#header.fixed {
  position: fixed;
  top: 0;
  padding-top: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 144, ../sass/header.scss */
#header.fixed .navbar .logo a {
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  /* line 151, ../sass/header.scss */
  #header .navbar {
    padding: 0;
  }
  /* line 154, ../sass/header.scss */
  #header .navbar .logo img {
    height: 30px;
  }
  /* line 159, ../sass/header.scss */
  #header .navbar .navbar-nav li {
    padding: 0 0.4rem;
  }
  /* line 161, ../sass/header.scss */
  #header .navbar .navbar-nav li a {
    color: #989898;
    text-align: center;
    font-size: 0.85rem;
  }
  /* line 165, ../sass/header.scss */
  #header .navbar .navbar-nav li a.nav-link {
    display: inline-block;
    padding: 10px;
    padding-right: 5px;
  }
  /* line 169, ../sass/header.scss */
  #header .navbar .navbar-nav li a.nav-link:hover, #header .navbar .navbar-nav li a.nav-link:active {
    color: #1C355E;
  }
  /* line 174, ../sass/header.scss */
  #header .navbar .navbar-nav li .iconify {
    display: none;
  }
  /* line 179, ../sass/header.scss */
  #header .navbar .navbar-nav li.sub-menu-parent .sub-menu li {
    padding: 0.75rem 0;
    text-align: center;
  }
  /* line 182, ../sass/header.scss */
  #header .navbar .navbar-nav li.sub-menu-parent .sub-menu li a {
    color: #1C355E;
  }
  /* line 188, ../sass/header.scss */
  #header .navbar .navbar-nav li.sub-menu-parent:hover .sub-menu, #header .navbar .navbar-nav li.sub-menu-parent:focus .sub-menu, #header .navbar .navbar-nav li.sub-menu-parent:focus-within .sub-menu {
    width: 120%;
  }
  /* line 194, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a {
    color: #1C355E;
  }
  /* line 196, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a.nav-link {
    font-weight: bold;
  }
  /* line 201, ../sass/header.scss */
  #header .navbar .navbar-nav li.icon-set {
    padding-top: 5px;
  }
  /* line 204, ../sass/header.scss */
  #header .navbar .navbar-nav li.icon-set ul > li:last-of-type {
    padding-right: 0;
  }
  /* line 207, ../sass/header.scss */
  #header .navbar .navbar-nav li.icon-set ul > li .dropdown-menu {
    top: 105%;
    left: -50%;
    min-width: auto;
    padding: 0;
    background-color: #f1f1f1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  /* line 214, ../sass/header.scss */
  #header .navbar .navbar-nav li.icon-set ul > li .dropdown-menu .dropdown-item {
    font-size: 0.85rem;
    color: #666666;
  }
  /* line 217, ../sass/header.scss */
  #header .navbar .navbar-nav li.icon-set ul > li .dropdown-menu .dropdown-item:hover, #header .navbar .navbar-nav li.icon-set ul > li .dropdown-menu .dropdown-item:active {
    background-color: #d8d8d8;
    color: #1C355E;
  }
}
@media screen and (min-width: 1400px) {
  /* line 232, ../sass/header.scss */
  #header .navbar .navbar-nav li {
    padding: 0 0.8rem;
  }
}
@media screen and (max-width: 1080px) {
  /* line 242, ../sass/header.scss */
  #header .navbar .navbar-nav li.icon-set li:not(.lan) {
    display: none;
  }
  /* line 246, ../sass/header.scss */
  #header .navbar .navbar-nav li.icon-set ul > li .dropdown-menu {
    top: 150%;
    left: auto;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 259, ../sass/header.scss */
  #header .navbar .logo a {
    padding: 15px 0;
  }
  /* line 262, ../sass/header.scss */
  #header .navbar .logo img {
    height: 26px;
  }
  /* line 270, ../sass/header.scss */
  #header.fixed .navbar .logo a {
    padding: 10px 0;
  }
  /* line 273, ../sass/header.scss */
  #header.fixed .navbar .logo img {
    height: 22px;
  }
}
@media screen and (max-width: 767px) {
  /* line 281, ../sass/header.scss */
  #header .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 0;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(28, 53, 94, 0.95);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 295, ../sass/header.scss */
  #header .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 300, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav {
    position: relative;
    padding: 2rem 0;
  }
  /* line 303, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li {
    position: relative;
    width: 100%;
  }
  /* line 306, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a {
    color: #fff;
  }
  /* line 308, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a.nav-link {
    width: calc(100% - 60px);
    margin-left: 0;
    padding: 1.25rem 0;
    letter-spacing: 0.5rem;
    font-size: 1.15rem;
  }
  /* line 314, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a.nav-link:first-of-type {
    padding-top: 0;
  }
  /* line 317, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a.nav-link:hover, #header .offcanvas-collapse .navbar-nav li a.nav-link:active {
    color: #F97425;
  }
  /* line 322, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a.icon {
    position: absolute;
    display: block;
    top: 3px;
    right: 0;
    width: 50px;
    padding-right: 15px;
    text-align: right;
  }
  /* line 330, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li a.icon .iconify {
    color: #fff;
    font-size: 1rem;
  }
  /* line 336, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.sub-menu-parent {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  /* line 338, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 15px;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* line 353, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li {
    width: 100%;
    border: none;
  }
  /* line 356, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li a {
    padding: 0.75rem;
  }
  /* line 359, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover {
    background-color: #1C355E;
    border-color: transparent;
  }
  /* line 362, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover a {
    color: #fff;
  }
  /* line 369, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.icon-set {
    display: none;
  }
  /* line 373, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.d-md-none .icon {
    width: 20px;
    height: 20px;
  }
  /* line 377, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.d-md-none ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  /* line 381, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.d-md-none ul li {
    display: inline-block;
    width: auto;
    padding-right: 15px;
  }
  /* line 385, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.d-md-none ul li a {
    font-size: 0.85rem;
  }
  /* line 388, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav li.d-md-none ul li:last-of-type {
    padding-right: 0;
  }
  /* line 397, ../sass/header.scss */
  #header .menu {
    display: block !important;
  }
}
@media screen and (max-width: 320px) {
  /* line 404, ../sass/header.scss */
  #header .navbar .logo img {
    height: 26px;
  }
  /* line 410, ../sass/header.scss */
  #header.fixed .navbar {
    padding: 0 15px;
  }
  /* line 413, ../sass/header.scss */
  #header.fixed .navbar .logo img {
    height: 24px;
  }
}

/* line 3, ../sass/footer.scss */
#footer {
  position: relative;
}
/* line 5, ../sass/footer.scss */
#footer ul {
  padding: 0;
  margin: 0;
}
/* line 8, ../sass/footer.scss */
#footer ul li {
  list-style: none;
}
/* line 12, ../sass/footer.scss */
#footer section {
  position: relative;
}
/* line 15, ../sass/footer.scss */
#footer #link {
  padding: 50px 0;
  background-color: #f0f0f0;
}
/* line 18, ../sass/footer.scss */
#footer #link ul {
  display: inline-block;
  padding: 15px 0;
}
/* line 21, ../sass/footer.scss */
#footer #link ul li {
  display: inline-block;
  float: left;
}
/* line 24, ../sass/footer.scss */
#footer #link ul li .icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: #1C355E;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
/* line 31, ../sass/footer.scss */
#footer #link ul li.text {
  padding-left: 15px;
}
/* line 33, ../sass/footer.scss */
#footer #link ul li.text a {
  display: block;
}
/* line 36, ../sass/footer.scss */
#footer #link ul li.text h5 {
  margin-bottom: 2px;
  font-size: 21px;
  color: #1C355E;
}
/* line 41, ../sass/footer.scss */
#footer #link ul li.text p {
  margin-bottom: 0;
  font-size: 16px;
  color: #4D4D4D;
}
@media screen and (max-width: 576px) {
  /* line 15, ../sass/footer.scss */
  #footer #link {
    padding: 20px 0;
  }
  /* line 51, ../sass/footer.scss */
  #footer #link ul {
    padding: 5px 0;
  }
  /* line 54, ../sass/footer.scss */
  #footer #link ul li .icon {
    width: 38px;
    height: 38px;
    padding: 7px;
  }
  /* line 60, ../sass/footer.scss */
  #footer #link ul li.text h5 {
    margin-bottom: 0;
    padding: 9px 0;
    font-size: 1rem;
  }
  /* line 65, ../sass/footer.scss */
  #footer #link ul li.text p {
    display: none;
    font-size: 0.85rem;
  }
}
/* line 74, ../sass/footer.scss */
#footer #info {
  padding: 20px 0;
  background-color: #333;
  font-size: 13px;
}
/* line 78, ../sass/footer.scss */
#footer #info p, #footer #info p > a {
  margin-bottom: 0;
  color: #E5E5E5;
  letter-spacing: 0.05rem;
}
/* line 82, ../sass/footer.scss */
#footer #info p .copyright, #footer #info p > a .copyright {
  display: block;
  margin-top: 15px;
  font-weight: 200;
}
/* line 86, ../sass/footer.scss */
#footer #info p .copyright .elink, #footer #info p > a .copyright .elink {
  color: #f4c51c;
  font-weight: 400;
}
/* line 92, ../sass/footer.scss */
#footer #info .logo {
  max-width: 80px;
  margin-left: auto;
}
/* line 95, ../sass/footer.scss */
#footer #info .logo img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  /* line 101, ../sass/footer.scss */
  #footer #info .logo {
    margin: 0 auto;
    margin-top: 20px;
  }
}
/* line 107, ../sass/footer.scss */
#footer .icons {
  padding: 2px 0;
  background-color: #231815;
}
/* line 110, ../sass/footer.scss */
#footer .icons ul {
  text-align: right;
}
/* line 112, ../sass/footer.scss */
#footer .icons ul li {
  display: inline-block;
}
/* line 114, ../sass/footer.scss */
#footer .icons ul li a {
  display: block;
}
/* line 116, ../sass/footer.scss */
#footer .icons ul li a .icon {
  width: 16px;
  height: 16px;
  margin: .5rem;
}
@media screen and (max-width: 767px) {
  /* line 125, ../sass/footer.scss */
  #footer .icons ul {
    text-align: center;
  }
}

/* line 3, ../sass/button.scss */
.btn {
  min-width: 200px;
  padding: 5px 15px;
  font-size: 0.85rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 15, ../sass/button.scss */
.btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
  outline: 1 !important;
  box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.5);
}

/* 主要：確認/執行鍵 */
/* line 22, ../sass/button.scss */
.btn-primary {
  background-color: #1C355E;
  border-color: #1C355E;
}
/* line 25, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active {
  background-color: #666666;
  border-color: #666666;
}
/* line 29, ../sass/button.scss */
.btn-primary.disabled {
  background-color: #4d4d4d;
  cursor: not-allowed;
}
/* line 32, ../sass/button.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:active {
  background-color: #4d4d4d;
}

/* 次要：執行鍵 */
/* line 38, ../sass/button.scss */
.btn-secondary {
  background-color: #b2b2b2;
  border-color: #CBCBCB;
  color: #fff;
}
/* line 42, ../sass/button.scss */
.btn-secondary:hover, .btn-secondary:active {
  background-color: #666666;
  border-color: #4D4D4D;
}
/* line 46, ../sass/button.scss */
.btn-secondary.disabled {
  background-color: #4d4d4d;
  cursor: not-allowed;
}
/* line 49, ../sass/button.scss */
.btn-secondary.disabled:hover, .btn-secondary.disabled:active {
  background-color: #4d4d4d;
}

/* 次要：取消/返回鍵 */
/* line 55, ../sass/button.scss */
.btn-light {
  background-color: rgba(51, 51, 51, 0.05);
  border-color: #CBCBCB;
  color: #333;
}
/* line 59, ../sass/button.scss */
.btn-light:hover, .btn-light:active {
  background-color: rgba(51, 51, 51, 0.1);
  border-color: rgba(51, 51, 51, 0.1);
  color: #231815;
}

/* 次要：選項/執行鍵 */
/* line 66, ../sass/button.scss */
.btn-outline {
  background-color: transparent;
  border-color: #1C355E;
  color: #1C355E;
  border-width: 1px;
}
/* line 71, ../sass/button.scss */
.btn-outline:hover, .btn-outline:active {
  background-color: #1C355E;
  border-color: #1C355E;
  color: #fff;
}

/* line 5, ../sass/srhbar.scss */
.input-group .input-group-prepend .btn {
  min-width: 150px;
  text-align: left;
  border-color: #e5e5e5;
  background-color: #f1f1f1;
  color: #000;
  font-weight: normal;
}
/* line 12, ../sass/srhbar.scss */
.input-group .input-group-prepend .btn:after {
  position: absolute;
  top: 13px;
  right: 10px;
  border-top: .5rem solid;
  border-right: .4rem solid transparent;
  border-left: .4rem solid transparent;
}
/* line 20, ../sass/srhbar.scss */
.input-group .input-group-prepend .btn:hover, .input-group .input-group-prepend .btn:active, .input-group .input-group-prepend .btn:focus {
  color: #1C355E;
  box-shadow: none;
}
/* line 25, ../sass/srhbar.scss */
.input-group .input-group-prepend .dropdown-menu {
  top: 105%;
  min-width: 150px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 32, ../sass/srhbar.scss */
.input-group .input-group-prepend .dropdown-menu .dropdown-item:hover, .input-group .input-group-prepend .dropdown-menu .dropdown-item:active {
  background-color: #f1f1f1;
  color: #1C355E;
}
/* line 39, ../sass/srhbar.scss */
.input-group .form-control {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}
/* line 45, ../sass/srhbar.scss */
.input-group .input-group-append .btn .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  /* line 54, ../sass/srhbar.scss */
  .input-group .input-group-append .btn {
    min-width: 100px;
  }
}
@media screen and (min-width: 991px) {
  /* line 3, ../sass/srhbar.scss */
  .input-group {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  /* line 64, ../sass/srhbar.scss */
  .input-group .input-group-prepend .btn {
    min-width: 80px;
  }
  /* line 69, ../sass/srhbar.scss */
  .input-group .input-group-append .btn {
    min-width: auto;
  }
  /* line 71, ../sass/srhbar.scss */
  .input-group .input-group-append .btn .icon {
    width: 16px;
    height: 16px;
  }
}

/* line 5, ../sass/content.scss */
#page {
  width: 100%;
  overflow-x: hidden;
}

/* line 9, ../sass/content.scss */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 333;
}

@media screen and (min-width: 1200px) {
  /* line 19, ../sass/content.scss */
  .container-fluid {
    max-width: 90%;
  }
}
@media screen and (max-width: 1199px) {
  /* line 19, ../sass/content.scss */
  .container-fluid {
    max-width: 1140px;
  }
}

/* line 27, ../sass/content.scss */
.title {
  font-weight: normal;
}

/* line 30, ../sass/content.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 35, ../sass/content.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 60%;
}

/* line 42, ../sass/content.scss */
#main section {
  position: relative;
  padding: 70px 0;
}
/* line 45, ../sass/content.scss */
#main section:first-of-type {
  padding-top: 10px;
}
/* line 49, ../sass/content.scss */
#main section#edit .title-set .title {
  font-size: 1.75rem;
}
@media screen and (max-width: 767px) {
  /* line 49, ../sass/content.scss */
  #main section#edit .title-set .title {
    padding-right: 0;
    line-height: 1.5;
  }
}
/* line 56, ../sass/content.scss */
#main section#edit p {
  font-size: 17px;
}
@media screen and (max-width: 768px) {
  /* line 42, ../sass/content.scss */
  #main section {
    padding: 50px 0;
  }
}
/* line 64, ../sass/content.scss */
#main .breadcrumb {
  position: relative;
  padding: 0;
  padding-top: 70px;
  margin-bottom: 0;
  background-color: transparent;
}
/* line 71, ../sass/content.scss */
#main .breadcrumb li:before {
  padding-right: 0.15rem;
  color: #949494 !important;
}
/* line 75, ../sass/content.scss */
#main .breadcrumb li a {
  color: #949494;
  font-size: 0.8rem;
}
/* line 80, ../sass/content.scss */
#main .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "›";
}
@media screen and (max-width: 768px) {
  /* line 64, ../sass/content.scss */
  #main .breadcrumb {
    padding-top: 40px;
  }
}
/* line 87, ../sass/content.scss */
#main .title-set {
  position: relative;
}
/* line 89, ../sass/content.scss */
#main .title-set .title {
  margin-bottom: 30px;
  color: #1C355E;
  font-size: 1.5rem;
  line-height: 1.7;
}
/* line 94, ../sass/content.scss */
#main .title-set .title .btn {
  position: absolute;
  top: 6px;
  right: 0;
  min-width: 150px;
}
@media screen and (max-width: 767px) {
  /* line 89, ../sass/content.scss */
  #main .title-set .title {
    padding-right: 80px;
    line-height: 1.6;
    font-size: 1.725rem;
  }
  /* line 104, ../sass/content.scss */
  #main .title-set .title .btn {
    min-width: 70px;
    top: 4px;
    padding: 5px 10px;
    font-size: 0.85rem;
  }
}
/* line 113, ../sass/content.scss */
#main .more {
  color: #1C355E;
  font-size: 0.85rem;
}
/* line 117, ../sass/content.scss */
#main .pagination {
  margin-top: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 120, ../sass/content.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 122, ../sass/content.scss */
#main .pagination li a {
  position: relative;
  color: #949494;
  background-color: transparent;
  border: none;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 129, ../sass/content.scss */
#main .pagination li a:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
/* line 136, ../sass/content.scss */
#main .pagination li a.rotate {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 141, ../sass/content.scss */
#main .pagination li:hover a, #main .pagination li:active a {
  color: #1C355E;
}
/* line 143, ../sass/content.scss */
#main .pagination li:hover a:after, #main .pagination li:active a:after {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: transform-origin(0%, 50%);
  -o-transform: transform-origin(0%, 50%);
  -ms-transform: transform-origin(0%, 50%);
  -webkit-transform: transform-origin(0%, 50%);
  transform: transform-origin(0%, 50%);
}
/* line 150, ../sass/content.scss */
#main .pagination li.active a {
  color: #1C355E;
  font-weight: bold;
}
/* line 156, ../sass/content.scss */
#main .pagination li:first-child a, #main .pagination li:last-child a {
  display: inline-block;
}
/* line 160, ../sass/content.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 163, ../sass/content.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 165, ../sass/content.scss */
#main .pagination li:nth-last-child(2):after {
  padding: 0 1rem;
  content: "...";
}
/* line 169, ../sass/content.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}

/* line 176, ../sass/content.scss */
#mob-srh {
  position: fixed;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 0;
  z-index: 888;
  -webkit-box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 187, ../sass/content.scss */
#mob-srh .input-group {
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 191, ../sass/content.scss */
  #mob-srh #srh-close {
    min-width: 100px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1081px) {
  /* line 176, ../sass/content.scss */
  #mob-srh {
    top: -100%;
  }
  /* line 198, ../sass/content.scss */
  #mob-srh.active {
    top: 0;
  }
}
@media screen and (max-width: 1080px) {
  /* line 176, ../sass/content.scss */
  #mob-srh {
    bottom: -100%;
  }
  /* line 204, ../sass/content.scss */
  #mob-srh.active {
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 176, ../sass/content.scss */
  #mob-srh {
    padding: 20px 0 10px;
  }
  /* line 210, ../sass/content.scss */
  #mob-srh #srh-close {
    width: 100%;
    margin-top: 15px;
    font-size: 0.85rem;
    border: none;
    background: transparent;
  }
}

/* line 219, ../sass/content.scss */
.side-btns {
  position: fixed;
  right: 0;
  bottom: 36px;
  z-index: 89;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 227, ../sass/content.scss */
.side-btns li {
  display: block;
  background-color: rgba(102, 102, 102, 0.6);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}
/* line 231, ../sass/content.scss */
.side-btns li a {
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #fff;
  padding: 10px 5px;
}
/* line 238, ../sass/content.scss */
.side-btns li a .icon {
  width: 25px;
  height: 25px;
}
/* line 242, ../sass/content.scss */
.side-btns li a span {
  display: block;
  font-size: 0.8rem;
  color: #fff;
}
/* line 249, ../sass/content.scss */
.side-btns li.gototop a {
  padding-top: 0;
}
/* line 253, ../sass/content.scss */
.side-btns li:hover, .side-btns li:active {
  background-color: #CBCBCB;
}
@media screen and (min-width: 768px) {
  /* line 219, ../sass/content.scss */
  .side-btns {
    bottom: 131px;
  }
}
@media screen and (min-width: 1081px) {
  /* line 262, ../sass/content.scss */
  .side-btns li:not(.gototop) {
    display: none;
  }
  /* line 265, ../sass/content.scss */
  .side-btns li.gototop {
    background-color: transparent;
  }
  /* line 267, ../sass/content.scss */
  .side-btns li.gototop a, .side-btns li.gototop span {
    color: #666666;
  }
  /* line 270, ../sass/content.scss */
  .side-btns li.gototop:hover, .side-btns li.gototop:active {
    background-color: transparent;
  }
}
@media screen and (max-width: 576px) {
  /* line 277, ../sass/content.scss */
  .side-btns li a {
    padding: 5px 3px 7px;
  }
  /* line 279, ../sass/content.scss */
  .side-btns li a .icon {
    width: 20px;
    height: 20px;
  }
}

/* line 286, ../sass/content.scss */
.hp-txt {
  font-size: 0.85rem;
  color: #333;
}

/* line 290, ../sass/content.scss */
.slick-prev {
  left: 0;
}

/* line 293, ../sass/content.scss */
.slick-next {
  right: 0;
}

/* line 296, ../sass/content.scss */
.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  z-index: 59;
}
/* line 300, ../sass/content.scss */
.slick-prev:before, .slick-next:before {
  color: #666666;
}

/* line 4, ../sass/auform.scss */
.au-form input, .au-form select {
  padding: 5px 12px;
}
/* line 7, ../sass/auform.scss */
.au-form input {
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #4D4D4D;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 15, ../sass/auform.scss */
.au-form input:active, .au-form input:hover {
  color: #231815;
  border-color: #1C355E;
}
/* line 20, ../sass/auform.scss */
.au-form textarea {
  height: 180px;
  padding: 10px 12px;
  resize: none;
}
/* line 25, ../sass/auform.scss */
.au-form .help-block {
  display: block !important;
  margin: 0;
}
/* line 28, ../sass/auform.scss */
.au-form .help-block ul {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 31, ../sass/auform.scss */
.au-form .help-block ul li {
  font-size: 0.85rem;
  line-height: 1.2;
  color: #9C1309;
}

/* line 13, ../sass/contacts.scss */
.contacts section#title {
  padding-bottom: 0;
}
/* line 16, ../sass/contacts.scss */
.contacts section#title .title-set .title {
  margin-bottom: 5px;
  font-size: 1.75rem;
}
/* line 22, ../sass/contacts.scss */
.contacts section#form {
  padding-top: 20px;
}
@media screen and (min-width: 992px) {
  /* line 26, ../sass/contacts.scss */
  .contacts section#form .blank:first-of-type {
    padding-right: 30px;
  }
  /* line 29, ../sass/contacts.scss */
  .contacts section#form .blank:last-of-type {
    padding-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 36, ../sass/contacts.scss */
  .contacts section#form .blank:first-of-type {
    padding-right: 80px;
  }
}
/* line 44, ../sass/contacts.scss */
.contacts #contact-form h5 {
  font-weight: normal;
}
/* line 47, ../sass/contacts.scss */
.contacts #contact-form hr {
  margin: 2rem 0;
  border-top: 1px solid #CBCBCB;
}
/* line 52, ../sass/contacts.scss */
.contacts #contact-form .au-form label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}
/* line 57, ../sass/contacts.scss */
.contacts #contact-form .au-form.veri-code {
  align-items: baseline;
}
/* line 59, ../sass/contacts.scss */
.contacts #contact-form .au-form.veri-code .verify {
  display: block;
  font-size: 13px;
  cursor: pointer;
}
/* line 64, ../sass/contacts.scss */
.contacts #contact-form .au-form.veri-code .help-block {
  bottom: 3px;
}
/* line 69, ../sass/contacts.scss */
.contacts #contact-form .form-group {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 72, ../sass/contacts.scss */
.contacts #contact-form .form-group:active label, .contacts #contact-form .form-group:hover label {
  color: #1C355E;
}
/* line 75, ../sass/contacts.scss */
.contacts #contact-form .form-group:active input, .contacts #contact-form .form-group:active select, .contacts #contact-form .form-group:active textarea, .contacts #contact-form .form-group:hover input, .contacts #contact-form .form-group:hover select, .contacts #contact-form .form-group:hover textarea {
  border-color: #1C355E;
}
/* line 79, ../sass/contacts.scss */
.contacts #contact-form .form-group .form-check {
  padding: 5px 0;
}
/* line 82, ../sass/contacts.scss */
.contacts #contact-form .form-group .form-check .custom-control-label a {
  color: #007bff;
}
/* line 88, ../sass/contacts.scss */
.contacts #contact-form .upload {
  display: none;
}
/* line 90, ../sass/contacts.scss */
.contacts #contact-form .upload p {
  font-size: 0.85rem;
}
/* line 94, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper {
  display: inline-block;
  width: 100%;
}
/* line 97, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper .custom-file {
  width: calc(100% - 50px);
  float: left;
}
/* line 101, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper .custom-file .custom-file-input:hover, .contacts #contact-form .file-wrapper .custom-file .custom-file-input:active, .contacts #contact-form .file-wrapper .custom-file .custom-file-input:focus {
  box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.5);
}
/* line 105, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper .custom-file .custom-file-label {
  border: 1px solid #CBCBCB;
  color: #4D4D4D;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  cursor: pointer !important;
}
/* line 110, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper .custom-file .custom-file-label:active, .contacts #contact-form .file-wrapper .custom-file .custom-file-label:hover {
  color: #231815;
  border-color: #1C355E;
}
/* line 114, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper .custom-file .custom-file-label:after {
  content: "瀏覽";
  min-width: 100px;
  color: #fff;
  background-color: #1C355E;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #1C355E;
  text-align: center;
}
/* line 125, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper .btn {
  min-width: auto;
  width: 40px;
  padding: 7px;
  margin-left: 10px;
  float: left;
}
/* line 131, ../sass/contacts.scss */
.contacts #contact-form .file-wrapper .btn.gray {
  border-color: #CBCBCB;
  color: #CBCBCB;
}
/* line 137, ../sass/contacts.scss */
.contacts #contact-form .act-btns {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style: none;
  text-align: center;
}
/* line 143, ../sass/contacts.scss */
.contacts #contact-form .act-btns li {
  display: inline-block;
  padding: 0 20px;
  text-align: center;
}
/* line 147, ../sass/contacts.scss */
.contacts #contact-form .act-btns li .btn {
  min-width: 100px;
}
/* line 149, ../sass/contacts.scss */
.contacts #contact-form .act-btns li .btn.btn-outline {
  border-color: #666666;
}
@media screen and (min-width: 992px) {
  /* line 157, ../sass/contacts.scss */
  .contacts #contact-form .act-btns li {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  /* line 164, ../sass/contacts.scss */
  .contacts #contact-form .file-wrapper .custom-file .custom-file-label:after {
    min-width: 80px;
  }
}
/* line 170, ../sass/contacts.scss */
.contacts .info-body {
  padding: 80px 40px;
  color: #fff;
  background-color: #1C355E;
}
/* line 174, ../sass/contacts.scss */
.contacts .info-body .title {
  margin-bottom: 30px;
  color: #fff;
  text-align: left;
}
/* line 178, ../sass/contacts.scss */
.contacts .info-body .title span {
  display: inline-block;
  width: 30px;
}
/* line 183, ../sass/contacts.scss */
.contacts .info-body hr {
  margin: 2rem 0;
  border-top: 1px solid #fff;
}
/* line 187, ../sass/contacts.scss */
.contacts .info-body .hp-txt, .contacts .info-body .hp-txt a {
  color: #fff;
}
/* line 189, ../sass/contacts.scss */
.contacts .info-body .hp-txt a, .contacts .info-body .hp-txt a a {
  color: #fff;
}
/* line 193, ../sass/contacts.scss */
.contacts .info-body .soc-media {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 197, ../sass/contacts.scss */
.contacts .info-body .soc-media li {
  display: inline-block;
  padding-right: 15px;
}
/* line 200, ../sass/contacts.scss */
.contacts .info-body .soc-media li:last-of-type {
  padding-right: 0;
}
/* line 203, ../sass/contacts.scss */
.contacts .info-body .soc-media li .icon {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 1200px) {
  /* line 170, ../sass/contacts.scss */
  .contacts .info-body {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 991px) {
  /* line 170, ../sass/contacts.scss */
  .contacts .info-body {
    padding: 60px 40px;
    margin-top: 50px;
  }
}
